/* Aspect ratio
======================= */

@mixin aspect-ratio($width, $height){
  position: relative;

  &::before{
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

/* Padding
======================= */

@mixin content-padding($default: 2rem){
  padding: $default;

  @media (min-width: 767px) and (max-width: 1024px){
    padding: 1.75rem;
  }
  @media (min-width: 490px) and (max-width: 767px){
    padding: 1.5rem;
  }
  @media (max-width: 490px){
    padding: 1.25rem;
  }
}

