$brandGradient: linear-gradient(to right, #90C538 0%, #61B148 100%);
$brandColor: #FFF;
$descriptionColor: #59595B;
$headerColor: #FFF;

$searchBg: #ededed;
$searchLine: #999;

$primaryButtonBg: #61B148;
$primaryButtonColor: #FFF;

$defaultBackgroundImage: #EEE;
