@import "../../styles/mixins";
@import "../../styles/variables";

.search{
  background: $searchBg;
  text-align: center;
  @include content-padding(4rem);

  > div,
  > form{
    width: 100%;
    margin: auto;

    @media (min-width: 1300px){
      max-width: 60%;
    }
  }

  > div{
    text-align: left;

    > h1{
      font-weight: 400;
      margin: 0;
      font-size: 1.65rem;

      @media (max-width: 767px){
        font-size: 1.35rem;
      }
      @media (max-width: 500px){
        font-size: 1.25rem;
      }
    }
    > h2{
      font-weight: 300;
      margin: .5rem 0 1.25rem;
      font-size: 1.5rem;

      @media (max-width: 767px){
        font-size: 1.3rem;
      }
      @media (max-width: 500px){
        font-size: 1.2rem;
      }
    }
  }

  > form{
    height: 54px;
    display: flex;

    > *{
      height: 100%;
      border: 0;
      border-radius: 0;
    }

    > input,
    > select{
      font-size: 1rem;
      font-weight: 400;
      padding: 0 20px;

      @media (max-width: 1024px){
        font-size: .9rem;
        padding: 0 16px;
      }
      @media (max-width: 767px){
        padding: 0 14px;
        font-size: .85rem;
        width: calc(50% - 54px / 2) !important;
      }
    }

    > input{
      width: 100%;
      border-right: 1px solid $searchLine;
    }

    > select{
      text-transform: capitalize;
      text-overflow: ellipsis;
      width: 217px;

      > *{
        text-transform: capitalize;
      }
    }

    > button{
      width: 66px;
      background-color: $primaryButtonBg;
      color: $primaryButtonColor;
    }
  }
}

.list{
  float: left;
  @include content-padding;

  h3{
    font-weight: 400;
    margin: 0 0 1.75rem;
    font-size: 1.4rem;

    @media (max-width: 767px){
      margin: 0 0 1.25rem;
      font-size: 1.3rem;
    }
  }

  .categories{
    float: left;
    width: 100%;

    .category{
      float: left;
      margin-bottom: 2rem;

      @media (min-width: 1024px){
        width: calc(25% - 4.5rem / 4);
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;

        &:nth-child(4n) {
          margin-right: 0;
        }
      }

      @media (min-width: 767px) and (max-width: 1024px){
        width: calc(100% / 3 - 3rem / 3);
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;

        &:nth-child(3n){
          margin-right: 0;
        }
      }

      @media (min-width: 490px) and (max-width: 767px){
        width: calc(50% - 1.25rem / 2);
        margin-right: 1.25rem;
        margin-bottom: 1.25rem;

        &:nth-child(2n){
          margin-right: 0;
        }
      }

      @media (max-width: 490px){
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
      }

      > .img{
        float: left;
        width: 100%;
        @include aspect-ratio(16, 9);

        img{
          float: left;
          width: 100%;
          height: 100%;
          object-fit: cover;
          cursor: pointer;
          background-color: $defaultBackgroundImage;
        }
      }

      > div{
        float: left;
        margin-top: .75rem;
        text-transform: capitalize;
        font-size: 1.1rem;
        font-weight: 500;
      }
    }
  }
}
