<div class="search">

  <div>
    <h1>Great stories start here.</h1>
    <h2>Discover over 200 million royalty-free images, stock video clips, and music tracks.</h2>
  </div>

  <form [formGroup]="searchForm" (submit)="onSearch($event)" novalidate>
    <input type="text" placeholder="Search.." formControlName="q" />

    <select formControlName="category">
      <option value="all" [selected]="searchForm.controls['category'] == 'all'">All categories</option>
      <option *ngFor="let c of imagesPvd.categories" [value]="c" [selected]="searchForm.controls['category'] == c">{{c}}</option>
    </select>

    <button type="submit"><i class="material-icons">search</i></button>
  </form>

</div>

<div class="list">
  <h3>Watch by Category</h3>

  <div class="categories">
    <div class="category" *ngFor="let category of imagesPvd.categories">
      <div class="img">
        <div class="content">
          <img [src]="'assets/categories/' + category + '.jpg'" [routerLink]="'/list/' + category" />
        </div>
      </div>
      <div>{{category}}</div>
    </div>
  </div>
</div>

