@import '../styles/variables';

header{
  float: left;
  width: 100%;
  height: 68px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 2px rgba(133,131,147,0.4);
  background: $headerColor;

  > a{
    background: $brandGradient;
    float: left;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0 60px;
    font-weight: 600;
    color: $brandColor;
    text-decoration: none;
    letter-spacing: .5px;
    font-size: 1.1rem;
  }
  > span{
    margin-left: 2rem;
    color: $descriptionColor;
    font-weight: 300;
  }

  @media (max-width: 500px){
    > a{
      width: 100%;
      justify-content: center;
    }
    > span{
      display: none;
    }
  }
}

section{
  float: left;
  width: 100%;
}
