@import "../../styles/mixins";
@import "../../styles/variables";

.search{
  background: $searchBg;
  @include content-padding;

  form{
    height: 54px;
    display: flex;
    width: 100%;

    @media (min-width: 1024px){
      max-width: 60%;
    }

    > *{
      height: 100%;
      border: 0;
      border-radius: 0;
    }

    > input,
    > select{
      font-size: 1rem;
      font-weight: 400;
      padding: 0 20px;

      @media (max-width: 1024px){
        font-size: .9rem;
        padding: 0 16px;
      }
      @media (max-width: 767px){
        padding: 0 14px;
        font-size: .85rem;
        width: calc(50% - 54px / 2) !important;
      }
    }

    > select{
      text-overflow: ellipsis;
    }

    > input{
      width: 100%;
      border-right: 1px solid $searchLine;
    }

    > select{
      text-transform: capitalize;
      width: 217px;

      > *{
        text-transform: capitalize;
      }
    }

    > button{
      width: 66px;
      background-color: $primaryButtonBg;
      color: $primaryButtonColor;
    }
  }

}

.list{
  float: left;
  width: 100%;
  @include content-padding;

  .image{
    float: left;
    margin-bottom: 1.25rem;

    @media (min-width: 1024px){
      width: calc(25% - 3.75rem / 4);
      margin-right: 1.25rem;

      &:nth-child(4n){
        margin-right: 0;
      }
    }

    @media (min-width: 767px) and (max-width: 1024px){
      width: calc(100% / 3 - 2.5rem / 3);
      margin-right: 1.25rem;

      &:nth-child(3n){
        margin-right: 0;
      }
    }

    @media (min-width: 490px) and (max-width: 767px){
      width: calc(50% - 1rem / 2);
      margin-right: 1rem;
      margin-bottom: 1rem;

      &:nth-child(2n){
        margin-right: 0;
      }
    }

    @media (max-width: 490px){
      width: 100%;
      margin-right: 0;
      margin-bottom: 1rem;
    }

    > .img{
      float: left;
      width: 100%;
      @include aspect-ratio(16, 9);

      img{
        float: left;
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        background-color: $defaultBackgroundImage;
      }
    }
  }

  .buttons{
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;

    button{
      width: calc(50% - .5rem);
      background-color: $primaryButtonBg;
      color: $primaryButtonColor;
      font-size: 1.05rem;
      padding: 13px 0;
      border: 0;
      cursor: pointer;

      &[disabled]{
        opacity: .5;
      }
    }
  }
}
