<div class="search">
  <form [formGroup]="searchForm" (submit)="onSearch($event)" novalidate>
    <input type="text" placeholder="Search.." formControlName="q" />

    <select formControlName="category">
      <option value="all" [selected]="searchForm.controls['category'] == 'all'">All categories</option>
      <option *ngFor="let c of imagesPvd.categories" [value]="c" [selected]="searchForm.controls['category'] == c">{{c}}</option>
    </select>

    <button type="submit"><i class="material-icons">search</i></button>
  </form>
</div>

<div class="list" *ngIf="list">
  <div class="image" *ngFor="let image of list.hits">
    <div class="img">
      <div class="content">
        <img [src]="image.webformatURL" (click)="openDetail(image)" />
      </div>
    </div>
  </div>

  <div class="buttons" *ngIf="list.hits && list.total">
    <button (click)="onPrevious()" [disabled]="page == 1">Previous</button>
    <button (click)="onNext()" [disabled]="imagesPvd.hitsPerPage * (page+1) > list.totalHits">Next</button>
  </div>

  <div *ngIf="!list.total">
    No matches
  </div>
</div>

