html{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
*,
*::before,
*::after{
  box-sizing: border-box;
}
body{
  font-size: 16px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto,sans-serif;
  font-weight: 400;
  color: #222;
  min-width: 360px;
}
select{
  -webkit-appearance: none;
}
button{
  cursor: pointer;
}
