@import "../../styles/variables";

:host{
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 360px;

  > .scroll{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5%;
    overflow-y: auto;

    &::after{
      content: '';
      width: 100%;
      padding-bottom: 5rem;
    }

    @media (max-width: 1024px){
      padding-top: 0;

      &::after{
        display: none;
      }
    }
  }

  @media (max-width: 1024px){
    overflow-y: hidden;
  }
}

.backdrop{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 201;
  background: rgba(255,255,255,.85);
}

.dialog{
  width: 900px;
  border-radius: 3px;
  background: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  z-index: 202;
  position: relative;
  padding: 3rem;

  @media (max-width: 1024px){
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
  @media (min-width: 767px) and (max-width: 1024px){
    padding: 2rem;
  }
  @media (min-width: 600px) and (max-width: 767px){
    padding: 1.75rem;
  }
  @media (max-width: 600px){
    padding: 1.5rem;
  }

  > *{
    float: left;
    width: 100%;
  }

  > header{
    padding-bottom: 1.5rem;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;

    > i{
      position: absolute;
      right: 0;
      top: calc(50% - 22px);
      font-size: 22px;
      cursor: pointer;
    }
  }
  > section{
    overflow-x: auto;
    font-weight: 300;
    font-size: 15px;
    padding-bottom: 1.5rem;

    @media (max-width: 1024px){
      height: 100%;

      &::after{
        content: '';
        float: left;
        width: 100%;
        padding-bottom: 2rem;
      }
    }

    img{
      margin-bottom: 2rem;
      max-width: 100%;
      float: left;
    }

    table{
      float: left;
      border: 0;
      width: 100%;

      tr{
        > td{
          padding-bottom: .5rem;

          &:first-child{
            width: 146px;
            align-items: center;
            display: flex;

            i{
              margin-right: 1rem;
              font-size: 1.3rem;
            }
          }
          &:last-child{
            width: 100%;
          }
        }
      }

      .margin td{
        padding-bottom: 1rem;
      }
    }

    button{
      background-color: $primaryButtonBg;
      color: $primaryButtonColor;
      margin-top: 1.25rem;
      padding: .5rem 1.5rem;
      border: 0;
      font-size: .9rem;
      float: left;
    }
  }
}
