<div class="backdrop" (click)="onClickedExit()"></div>

<div class="scroll">
  <div class="dialog">
    <header>
      Details
      <i class="material-icons" (click)="onClickedExit()">close</i>
    </header>

    <section>

      <img [src]="data?.webformatURL" />

      <table>
        <tbody>
          <tr class="margin">
            <td><i class="material-icons">person</i> User</td>
            <td>{{data?.user || '-'}}</td>
          </tr>
          <tr>
            <td><i class="material-icons">label_outline</i> Tags</td>
            <td>{{data?.tags || '-'}}</td>
          </tr>
          <tr class="margin">
            <td><i class="material-icons">photo</i> Image size</td>
            <td>{{data?.imageSize || '-'}}</td>
          </tr>
          <tr>
            <td><i class="material-icons">remove_red_eye</i> Views</td>
            <td>{{data?.views || '-'}}</td>
          </tr>
          <tr>
            <td><i class="material-icons">file_download</i> Downloads</td>
            <td>{{data?.downloads || '-'}}</td>
          </tr>
          <tr>
            <td><i class="material-icons">favorite_border</i> Favorites</td>
            <td>{{data?.favorites || '-'}}</td>
          </tr>
        </tbody>
      </table>

      <button (click)="onDownload($event)">Download</button>

    </section>
  </div>
</div>
